<!DOCTYPE html>
<html lang="en">

<head>
  {% include "head.html" %}
</head>

<body>
<header>
  
  {% include "header.html" %}
</header>
{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul class="px-2 py-3 bg-red-500 text-white rounded-xl max-w-3xl mx-auto mb-2">
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
  <form action="/upload" method="POST" class="max-w-xl mx-auto my-auto" enctype="multipart/form-data" id="upload-form">

<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="file_input">Upload file</label>
<input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="file_input" type="file" name="file">
<p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">XLS, XLSX, CSV (MAX. 50MB).</p>

    <div class="flex flex-row justify-end w-full mt-2">
     <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </div>
  </form>
	<div class="max-w-xl mx-auto my-auto hidden" id="proccess-form">
    
<div class="flex justify-between mb-1">
  <span class="text-base font-medium text-blue-700 dark:text-white">Processing...</span>
  <span class="text-sm font-medium text-blue-700 dark:text-white" id="progressText">Process not started yet.</span>
</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
  <div class="bg-blue-600 h-2.5 rounded-full" style="width: 0%" id="progress"></div>
</div>

</div>
	<script>
	var uploadForm = document.getElementById('upload-form')
	var proccessForm = document.getElementById('proccess-form');
		
	var progressText = document.getElementById('progressText');
	var progress = document.getElementById('progress');

    var position = 0;
	var steps = 3;

    async function handleNewData() {
		var filename = uploadForm.querySelector('input').value
		filename = filename.split('\\').at(-1)

		const response = await fetch(`/stream?filename=${filename}`)
		const status = await response.text();

		var currentStep = status.toLowerCase();
		console.log(currentStep)
		
		var currentStep = currentStep.split('step')[1]
		var currentStep = currentStep.trim();
		var currentStep = parseInt(currentStep);

		console.log(currentStep)
		
		progress.style.width = `${33.33333333333333 * currentStep}`;
		
		progressText.textContent = status
    }

	uploadForm.addEventListener('submit', () => {
		uploadForm.classList.add('hidden')

		proccessForm.classList.remove('hidden')
    	var timer;
    	timer = setInterval(function() {
        	// check the response for new data
        	handleNewData();
    	}, 10000);
	})
</script>
	</script>
  <footer class="fixed bottom-0 w-full">
   
  {% include "footer.html" %} 
  </footer>
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
</body>

</html>